# vscode: retain launch.json for sample invocation
.vscode/*
!.vscode/launch.json

# Directories for must-not-be-versioned datasets.
/data/
test/data/
*.xlsx
*.csv
*.xls

# Jupyter notebook's checkpoints
.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# MS-Office temporary files
~$*

# OSX specific
.DS_Store

# VIM temporary files
.*.sw[po]
*.sw[po]

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/

# mkdocs documentation
/site

# Database
*.db
*.rdb
*.accdb
*.accdc
*.laccdb
*.adp

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.c9/
.idea/
.spyproject
.spyderproject
.ropeproject
.vscode

# R studio stuff
.Rproj.user
.Rhistory
.RData
.Rproj
